<center>
     <h1><span>&#8212;</span> New <span>&#8212;</span></h1>
</center>

<div class="container">
     <div style="background-image: url('images/snakeai.PNG')" class="img_container">
          <a target="_blank" href="https://snake--ai.herokuapp.com/">
               <p class="title">Snake AI</p>
               <div class="overlay">
                    <p>Takes input directions from User, DFS Algorithm, BFS Algorithm</p>
               </div>
          </a>
     </div>
     <div style="background-image: url('images/filtark.PNG')" class="img_container">
          <a target="_blank" href="https://www.filtark.com/">
               <p class="title">Filtark</p>
               <div class="overlay">
                    <p>Enterprise website to create filters and uploads them on snapchat</p>
               </div>
          </a>
     </div>
     <div style="background-image: url('images/q-learning.PNG')" class="img_container">
          <a target="_blank" href="https://github.com/YousefGh/UC-Berkeley-AI-Puzzle">
               <p class="title">Pacman AI</p>
               <div class="overlay">
                    <p>Using AI algorithms (DFS, BFS, UCS, A*, Value iteration (MDP), Q-learning (MDP), Particle Filtering (Baysian Inference), and Neural Network) to acheive some goals</p>
               </div>
          </a>
     </div>
     <div style="background-image: url('images/airlines.PNG')" class="img_container">
          <a target="_blank" href="https://airlines-routes.herokuapp.com">
               <p class="title">Airlines Routes</p>
               <div class="overlay">
                    <p>Using D3.JS, airlines bar chart, and airlines routes and airports are plotted on a map</p>
               </div>
          </a>
     </div>
</div>

<center>
     <h1 style="margin-top: 70px;"><span>&#8212;</span> Old <span>&#8212;</span></h1>
</center>

<div class="container ">
     <div style="background-image: url('images/wiki.PNG')" class="img_container">
          <a target="_blank" href="https://wiki--wiki.herokuapp.com/">
               <p class="title">Wiki App</p>
               <div class="overlay">
                    <p>Using Wiki API with AJAX for asynchronous requests</p>
               </div>
          </a>
     </div>
     <div style="background-image: url('images/weather.PNG')" class="img_container">
          <a target="_blank" href="https://y-weather-app.herokuapp.com/">
               <p class="title">Weather App</p>
               <div class="overlay">
                    <p>Using the weather feed from openweatehrmap API</p>
               </div>
          </a>
     </div>
     <div style="background-image: url('images/mamacros.PNG')" class="img_container">
          <a target="_blank" href="https://mamacros.herokuapp.com/">
               <p class="title">MaMacros</p>
               <div class="overlay">
                    <p>Records your macros with your daily intake set</p>
               </div>
          </a>
     </div>
     <div style="background-image: url('images/quizes.PNG')" class="img_container">
          <a target="_blank" href="https://kfupm-quizes.herokuapp.com/">
               <p class="title">Quizes App</p>
               <div class="overlay">
                    <p>Loads quizes from JSON, starts a timed quiz and grades result after</p>
               </div>
          </a>
     </div>
     <div style="background-image: url('images/temp.PNG')" class="img_container">
          <a target="_blank" href="https://github.com/YousefGh/Applied-Data-Science-with-Python-Michigan-Coursera/blob/master/Applied%20Plotting%2C%20Charting%20%26%20Data%20Representation%20in%20Python/Assignments/Assignment2.ipynb">
               <p class="title">Temprature Outliers</p>
               <div class="overlay">
                    <p>Temprature outliers (in 2015) in 10 years before 2015 in Dhahran, Saudi Arabia</p>
               </div>
          </a>
     </div>
</div>